@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kdam+Thmor+Pro&family=Raleway:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kdam+Thmor+Pro&family=Raleway:wght@100;500&display=swap');
body{
font-family: 'Kdam Thmor Pro', sans-serif !important;
color: whitesmoke  !important; 

}

/* *** HEADER  ****/
main{

min-height: 80vh;
}

h1{
  font-family: 'Bebas Neue', cursive !important;
  font-size: 100px !important;
  letter-spacing: .0300rem;
}

/* *** NAVBAR *** */
.navbar{
  border-bottom: .1875rem solid rgb(147,203,73) !important;
  backdrop-filter: blur(5px);
}

nav a.nav-link {
  letter-spacing: .0375rem;
  cursor: pointer; 
}

.navbar-nav > a:hover {
  color: rgb(147,203,73) !important;
}

.navbar-nav  li> a.active, .navbar-nav > a:focus{
  border-top: .1800rem solid rgb(147,203,73) !important ;
}

/**** LOGO*** */

.logo{
  width: 3rem;
  height: 2rem  !important;
}

@media(max-width:1000px) {
  .logo{
  width: 2rem;
  height: 2rem  !important;
  display:none
}

}

/* *** HOMESCREEN *** */


img.card-img{
  width: 16rem;
  height: 14rem  !important;
 
}

/* ***RATING*** */

h1{
  padding: 1rem 0;
}



.rating span{
margin: 0.1rem;
}


/* ***Carousel*** */

/* .carousel{
width:60%;
height: 100; 
}

.carouselInner{
  height: 100%;
  width: 100%; 
} */
