@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kdam+Thmor+Pro&family=Raleway:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kdam+Thmor+Pro&family=Raleway:wght@100;500&display=swap');
body{
font-family: 'Kdam Thmor Pro', sans-serif !important;
color: whitesmoke  !important; 

}

/* *** HEADER  ****/
main{

min-height: 80vh;
}

h1{
  font-family: 'Bebas Neue', cursive !important;
  font-size: 100px !important;
  letter-spacing: .0200rem;
  color:  rgb(147,203,73);
  padding: 3rem 0;
  -webkit-text-stroke-width: 2px !important;
  -webkit-text-stroke-color: black;
}
@media(max-width:760px) {
h1{
  font-family: 'Bebas Neue', cursive !important;
  font-size: 100px !important;
  letter-spacing: .0300rem;
  color:  rgb(147,203,73);
  padding: 3rem 0;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
}
}

/* *** NAVBAR *** */

.navbar {
  border-bottom: .1875rem solid rgb(147, 203, 73) !important;
  backdrop-filter: blur(5px);
}

@media(max-width:1000px) {
.navbar{
  border-bottom: .1875rem solid rgb(147,203,73) !important;
  backdrop-filter: blur(5px);
  font-size: 2rem !important;

}
}


nav a.nav-link {
  font-weight: 400;
  letter-spacing: .0380rem;
  cursor: pointer; 
}

nav a.nav-link{
  text-transform: uppercase;
}


.navbar-nav > a:hover {
  color: rgb(147,203,73) !important;
  
}



.navbar-nav  li> a.active, .navbar-nav > a:focus{
  border-top: .1800rem solid rgb(147,203,73) !important ;
}

/**** LOGO*** */

.logo{
  width: 3rem;
  height: 2rem  !important;
}

@media(max-width:1000px) {
  .logo{
  width: 2rem;
  height: 2rem  !important;
  display:none
}

}

/* *** HOMESCREEN *** */


img.card-img{
  width: 14rem;
  height: 14rem  !important;
  border-radius: 50%;
 
}

/* ***RATING*** */

h1{
  padding: 1rem 0;
}



.rating span{
margin: 0.1rem;
}


/* LANDING CAROUSEL */
.landingCarousel {
  background-image: url(dsc08151.JPG);
  background-size: cover;
  background-color: rgb(147,203,73);
  text-align: center;
  padding-bottom: 4rem; 
  margin-bottom: 0;
  width: 100%;
} 

.landingCarousel h1{
  color:  rgb(147,203,73);
  padding: 4rem 0;
  text-transform: uppercase;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
}

.landing-content{
  text-align: center !important;
  max-width: 57.125rem;
  margin: 0 auto 2rem auto;
  background:rgb(0,0,0,.7);
}

.myLandingCarousel{
color: white;
background: transparent;
margin-top: -6%;
margin-left: auto;
margin-right: auto;
padding-top: 8%;
padding-bottom: 8%;
padding-left: 5%;
padding-right: 5%;
}

.myLandingCarousel img{
  border-radius: 50%;
}

.myLandingCarousel h3{
  color:  rgb(147,203,73); 
  font-weight: 700 !important;
  text-transform: uppercase;
  -webkit-text-stroke-width: .1px ;
  -webkit-text-stroke-color: black ;
}

.myLandingCarousel p{
   color: rgb(255,255,255) ;
   -webkit-text-stroke-width: .5px !important;
  -webkit-text-stroke-color: black !important;
  
}

/* ***ABOUT PAGE*** */


.photo-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.aboutimage{
  position: relative;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  padding: .1rem;
  border: 3px solid rgb(147,203,73,.7);
  top: 10px;
}

.about-heading{
  color: rgb(147,203,73);
  text-transform: uppercase;
   -webkit-text-stroke-width: .7px ;
  -webkit-text-stroke-color: black ;

}

.about-heading:hover{
  color: rgb(147,203,73);

}

@media(max-width:468px) {
  .aboutimage{
    width: 10rem;
  }
}

/* ***TESTIMONIALS*** */

.testimonal{
  background-image: url(karsten-winegeart-eGSBVVtVCCw-unsplash.jpg);
  background-size: cover;
  background-color: rgb(147,203,73);
  text-align: center;
  padding-bottom: 4rem; 
  margin-bottom: 0;
  width: 100%;
}


  .testimonal h1{
  color:  rgb(147,203,73);
  padding: 3rem 0;
  text-transform: uppercase;
   -webkit-text-stroke-width: .3px ;
  -webkit-text-stroke-color: black ;
}


.testimonal-content{
  text-align: center !important;
  max-width:  57.125rem;
  margin: 0 auto 2rem auto;
  background: rgb(0,0,0,.7);

}
.myCarousel{
color: white;
background: transparent;
margin-top: -6%;
margin-left: auto;
margin-right: auto;
padding-top: 8%;
padding-bottom: 8%;
padding-left: 5%;
padding-right: 5%;
}

.myCarousel img{
  border-radius: 50%;
}

.myCarousel h3{
  color:  rgb(147,203,73); 
  font-weight: 700 !important;
  text-transform: uppercase;
  -webkit-text-stroke-width: .1px ;
  -webkit-text-stroke-color: black ;
}

.myCarousel p{
  color: rgb(255,255,255) ;
   -webkit-text-stroke-width: .5px !important;
  -webkit-text-stroke-color: black !important;
  
}


