@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kdam+Thmor+Pro&family=Raleway:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kdam+Thmor+Pro&family=Raleway:wght@100;500&display=swap');
body{
font-family: 'Kdam Thmor Pro', sans-serif !important;
color: whitesmoke  !important; 

}

/* *** HEADER  ****/
main{

min-height: 80vh;
}

h1{
  font-family: 'Bebas Neue', cursive !important;
  font-size: 100px !important;
  letter-spacing: .0200rem;
  color:  rgb(147,203,73);
  padding: 3rem 0;
  -webkit-text-stroke-width: 1.5px !important;
  -webkit-text-stroke-color: black;
}

h3 {
  font-family: 'Bebas Neue', cursive !important;
  font-size: 100px !important;
  letter-spacing: .0200rem;
  color: rgb(147, 203, 73);
  padding: 3rem 0;
  -webkit-text-stroke-width: 1.5px !important;
  -webkit-text-stroke-color: black;
}

@media(max-width:375px) {
  main.h3 {
    font-family: 'Bebas Neue', cursive !important;
    font-size: 1rem !important;
    letter-spacing: .0300rem;
    color: rgb(147, 203, 73);
    padding: 3rem 0;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
  }
}

@media(max-width:375px) {
main.h1{
  font-family: 'Bebas Neue', cursive !important;
  font-size: 2rem !important;
  letter-spacing: .0300rem;
  color:  rgb(147,203,73);
  padding: 3rem 0;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
}
}

/* *** NAVBAR *** */

.navbar {
  border-bottom: .1875rem solid rgb(147, 203, 73) !important;
  backdrop-filter: blur(5px);
 
}

@media(max-width:375px) {
.navbar{
  border-bottom: .1875rem solid rgb(147,203,73) !important;
  backdrop-filter: blur(5px);
  font-size: 1.5rem !important;
}
}


nav a.nav-link {
  font-weight: 400;
  letter-spacing: .0380rem;
  cursor: pointer; 
}

nav a.nav-link{
  text-transform: uppercase;
}


.navbar-nav > a:hover {
  color: rgb(147,203,73) !important;
  
  
}


.navbar-nav  li> a.active, .navbar-nav > a:focus{
  border-top: .1800rem solid rgb(147,203,73) !important ;
}

/**** LOGO*** */

.logo{
  width: 3rem;
  height: 2rem  !important;
}

@media(max-width: 1000px) {
  .logo, img{
  /* width: 2rem;
  height: 2rem  !important; */
  display: none !important;
}

}

/* *** HOMESCREEN *** */


img.card-img{
  width: 14rem;
  height: 14rem  !important;
  border-radius: 50%;
 
}

/* ***RATING*** */

h1{
  padding: 1rem 0;
}



.rating span{
margin: 0.1rem;
}


/* LANDING CAROUSEL */
.landingCarousel {
  background-image: url(dsc08151.JPG);
  background-size: cover;
  background-color: rgb(147,203,73);
  text-align: center;
  padding-bottom: 4rem; 
  margin-bottom: 0;
  width: 100%;
} 
@media(max-width:768px) {
.landingCarousel {
  background-image: url(dsc08151.JPG);
  background-size: cover;
  background-color: rgb(147, 203, 73);
  text-align: center;
  padding-bottom: 4rem;
  margin-bottom: 0;
  width: 100%;
}
};

@media(max-width:768px) {
.landingCarousel h1{
  color:  rgb(147,203,73);
  font-size: 1rem !important;
  padding: 6rem 0;
  text-transform: uppercase;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
}

@media(max-width:414px) {
.landingCarousel h1{
    font-size: 4rem !important;
    letter-spacing: .0300rem;
    color: rgb(147, 203, 73);
    padding: 2rem 0;
  }
}

.landing-content{
  text-align: center !important;
  max-width: 57.125rem;
  margin: 0 auto 2rem auto;
  background:rgb(0,0,0,.7);
}

.myLandingCarousel{
color: white;
background: transparent;
margin-top: -6%;
margin-left: auto;
margin-right: auto;
padding-top: 8%;
padding-bottom: 8%;
padding-left: 5%;
padding-right: 5%;
}

.myLandingCarousel img{
  border-radius: 50%;
}

@media(max-width:414px) {
.myLandingCarousel h3{
  color: rgb(147, 203, 73); 
  font-weight: 400 !important;
  font-size: 3rem !important;
  text-transform: uppercase;
  -webkit-text-stroke-width: 2px !important;
  -webkit-text-stroke-color: black; 
}
}
.myLandingCarousel p{
   color: rgb(255,255,255) ;
   -webkit-text-stroke-width: .5px !important;
  -webkit-text-stroke-color: rgb(147, 203, 73) !important;
  
}

/* ***ABOUT PAGE*** */


.photo-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.aboutimage{
  position: relative;
  border-radius: 50%;
  padding: .1rem;
  border: 3px solid rgb(147,203,73,.7);
  top: 10px;
}

.about-heading{
  color: rgb(147,203,73);
  text-transform: uppercase;
   -webkit-text-stroke-width: .7px ;
  -webkit-text-stroke-color: black ;

}

.about-heading:hover{
  color: rgb(147,203,73);

}

@media(max-width:414px) {
  .aboutimage img {
    width: 15rem !important;
  }
}

@media(max-width:414px) {
  .about-heading h1 {
    font-size: 4rem !important;
    justify-content: center;
    align-items: center;
    display: flex;
    letter-spacing: .0300rem;
    color: rgb(147, 203, 73);
    padding: 2rem 0;
  }
}


/* ***TESTIMONIALS*** */

.testimonal{
  background-image: url(karsten-winegeart-eGSBVVtVCCw-unsplash.jpg);
  background-size: cover;
  background-color: rgb(147,203,73);
  text-align: center;
  padding-bottom: 4rem; 
  margin-bottom: 0;
  width: 100%;
}


  .testimonal h1{
  color:  rgb(147,203,73);
  padding: 3rem 0;
  text-transform: uppercase;
   -webkit-text-stroke-width: .3px ;
  -webkit-text-stroke-color: black ;
}


.testimonal-content{
  text-align: center !important;
  max-width:  57.125rem;
  margin: 0 auto 2rem auto;
  background: rgb(0,0,0,.7);

}
.myCarousel{
color: white;
background: transparent;
margin-top: -6%;
margin-left: auto;
margin-right: auto;
padding-top: 8%;
padding-bottom: 8%;
padding-left: 5%;
padding-right: 5%;
}

.myCarousel img{
  border-radius: 50%;
}

.myCarousel h3{
  color:  rgb(147,203,73); 
  font-weight: 500 !important;
  text-transform: uppercase;
  -webkit-text-stroke-width: 2px ;
  -webkit-text-stroke-color: black ;
}

.myCarousel p{
  color: rgb(255,255,255) ;
   -webkit-text-stroke-width: .5px !important;
  -webkit-text-stroke-color: black !important;
  
}


/* ****CLASSES**** */

.myClasses {
  padding: .7rem;
}

.myClasses-wrapper {
  position: relative;
  padding: 2.125rem;
  overflow: hidden;
  ;
}

.myClasses h1 {
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive !important;
}

.myClasses h2 {
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-align: center;
  text-shadow:
    0.02em 0 rgba(22, 21, 21, 0.825),
    0 0.02em rgba(22, 21, 21, 0.825),
    -0.02em 0 rgba(22, 21, 21, 0.825),
    0 -0.02em rgba(22, 21, 21, 0.825);
}

.myClasses-wrapper:before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  margin-left: -0.0625rem;
  width: .125rem;
  height: 100%;
  background: rgb(147, 203, 73);
  z-index: 1;
}

.timeline-block {
  width: calc(50% + .5rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
} 


 .marker {
  width: 1rem; 
  height: 1rem; 
  border-radius: 50%; 
  border: .3125rem solid black; 
  background: rgb(147, 203, 73); 
  margin-top: .625rem; 
  z-index: 3;
} 

.timeline-content {
  width: 95%;
  padding: 0 0.9375rem;
  color: black;
  direction: ltr;
}

.timeline-content h3 {
  margin-top: .3000rem;
  color:rgb(147, 203, 73) ;
  font-family: 900;
  font-size: 5rem !important;
}

.timeline-content p {
  font-weight: 400;
  color :aliceblue; 
    text-shadow:
        0.02em 0 rgba(22, 21, 21, 0.825),
        0 0.02em rgba(22, 21, 21, 0.825),
        -0.02em 0 rgba(22, 21, 21, 0.825),
        0 -0.02em rgba(22, 21, 21, 0.825);
}

/* ****** MEDIA ******** */

@media(maxwidth: 700px) {
  .myClasses .container {
    padding-left: 0;
  }

  .myClasses-wrapper::before {
    left: .5rem;
    margin-bottom: 1.875rem;
  }

  .timeline-block-right {
    float: none;
    width: 100%;
  }

  .timeline-block-left {
    float: none;
    width: 100%;
    direction: ltr;

  }

}

/* **** Contact **** */ 

.contact {
  padding: 3rem 0;
  text-align: center;
  background-size: contain;
}

.contact h1 {
  padding: 1.3rem 0;
  text-transform: uppercase;
  -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;

}

.contact p {
  color: white;
  font-family: 'Bebas Neue', cursive !important;
  font-size: 1.5rem;
  -webkit-text-stroke-width: .5px !important;
  -webkit-text-stroke-color: rgb(147, 203, 73) !important;

}

/*------------ CONTACT INPUTS------------------*/

.contact input,
.contact textarea {
  width: 100%;
  box-sizing: border-box;
  background: white;
  resize: none;
  border: 0;
  border-bottom: .125rem solid rgb(147, 203, 73) !important;
  /* border-radius: 0; */
  outline: 0 !important;
  box-shadow: none !important;
  font-weight: 800; 

}

.contact .container {
  padding: 5rem 0;
}

.contact input:focus,
.contact textarea:focus {
  background: transparent;
  color: rgb(147, 203, 73) !important;;
  border-bottom: .125rem solid black;
}

.contact textarea {
  height: 11.55rem !important;


}

.contact-btn {
  margin: 1rem 0 0 0;
  background: none;
  width: 50%;
}

.contact-btn:hover {
  color: rgba(22, 21, 21, 0.825);
  opacity: 70%;
  transition: 0.3s ease-in-out;
}

.line {
  position: relative;
  top: -0.1rem;
  width: 0;
  height: .130rem;
  background: rgb(147, 203, 73);
  display: flex;
}

/* input:focus+.line,
textarea:focus+.line {
  width: 100%;
  transition: width 0.5s ease-in-out;
} */

input.form-control {
  margin: -0.3rem 0;

}

textarea.form-control {
  margin: -0.3rem 0;

}

.error-message {
  color:  rgba(22, 22, 22);
  background: rgb(147, 203, 73,.7);
  text-align: left;

}

.success-message {
  font-weight: 900;
  color: rgb(147, 203, 73);
}


/* ***** CONTACT MEDIA **** */

@media(max-width:768px) {
  .contact {
    overflow-x: hidden;
  }

  .contact .container {
    padding: 0 1rem;
  }

  .contact p {
    padding: 0 0.4rem;
  }
}